
Ecology\ comments/
Ecology_Comment/
DataS1_ORIGINAL_DO_NOT_TOUCH/
Supplemental_Implementation_Example_cache/
sim_check_rerun/
*.docx
New_sims.pdf
Supplemental_Implementation_Example.md
.Rproj.user
.Rhistory

